* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* nav part start */
#navbar {
    background-color: #0D0D0D;
    height: 80px;
}

.nav_main {
    display: flex;
    align-items: center;
    height: 80px;
}

.logo {
    width: 20%;
}

.menu {
    width: 60%;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 0 24px;
    color: rgba(255, 255, 255, 0.901);
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
}

.btn {
    width: 20%;
}

.nav_btn {
    text-align: end;
}

.nav_btn a {
    padding: 20px 48px;
    border-radius: 12px;
    background-color: #FFD2A4;
    color: #1C1D28;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
}

/* nav part end */

/* blog part start */
#blog{
    background-color: #F5F2F0;
    padding: 128px;
}
.blog_head h3{
    padding-bottom: 16px;
    color: #161722;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
    text-align: center;
}
.blog_head h2{
    padding-bottom: 64px;
    color: #161722;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
    text-align: center;
}
.blog_item{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    background-color: #FFFFFF;
}
.blog_text{
    padding-top: 84px;
    padding-bottom: 85px;
    padding-right: 85px;
}
.blog_iner{
    display: flex;
    justify-content: space-between;
}
.blg_l h3{
    padding-bottom: 12px;
    color: #161722;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
}
.blg_r h4{
    padding-bottom: 12px;
    color: #161722;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
}
.blog_text h2{
    padding-bottom: 16px;
    color: #161722;
    font-size: 32px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
    line-height: 44px;
}
.blog_text p{
    padding-bottom: 32px;
    color: #161722;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    line-height: 24px;
}
.BLOG_POSTS h2{
    padding-top: 128px;
    padding-bottom: 64px;
    color: #161722;
    font-size: 32px;
    font-family: "Roboto Condensed", serif;
    text-transform: uppercase;
    text-align: center;
}


.blog_main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.blog_post_item {
    width: 24%;
    background-color: #FFFFFF;
}
.blog_post_iner h5 {
    padding-top: 48px;
    padding-left: 32px;
    color: #DC9853;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.blog_post_iner h2 {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.blog_post_iner p {
    padding-left: 32px;
    padding-bottom: 48px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
}
.blog_post_iner h4 {
    padding-left: 32px;
    padding-bottom: 4px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 18px;
    font-weight: normal;
}
.blog_post_iner h6 {
    padding-left: 32px;
    padding-bottom: 32px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
}

.div {
    height: 16px;
    background-color: #FFD0A0;
}
/* blog part end */


/* love part start */
/* #love {
    padding-bottom: 128px;
}

.love_head {
    text-align: center;
}

.love_main {
    padding-top: 100px;
}

.love_head p {
    width: 846px;
    margin: 0 auto;
}

.love_head h3 {
    padding-top: 128px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.love_head h2 {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.love_head p {
    padding-bottom: 56px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

.love_main {
    display: flex;
    justify-content: space-between;
}

.love_left {
    width: 29%;
}

.love_one img {
    width: 100%;
}

.love_middle {
    width: 39%;
    position: relative;
}

.love_m_btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -50px;
}

.love_m_img {
    margin-top: 50px;
}

.love_m_img img {
    width: 100%;
}

.love_m_btn a {
    padding: 24px 64px;
    background-color: #FFD2A4;
    border-radius: 12px;
}

.love_right {
    width: 29%;
}

.love_r_img img {
    width: 100%;
}

.love_last {
    text-align: center;
}

.love_last h3 {
    padding-top: 56px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-transform: uppercase;
}

.love_last h2 {
    padding-bottom: 16px;
    font-size: 32px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.love_last p {
    width: 512px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
} */
/* love part end *

/* footer part start */
#footer {
    background-color: #161722;
}

.footer_main {
    display: flex;
    justify-content: space-between;
}

.footer_item {
    padding-top: 64px;
    padding-bottom: 72px;
}

.footer_left h2 {
    margin-top: 16px;
    padding-bottom: 32px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h3 {
    padding-bottom: 18px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h4 {
    padding-bottom: 18px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h5 {
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_medil_left h2 {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_medil_left a {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_medil_left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_medil_right h2 {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.icon img {
    margin-right: 8px;
    cursor: pointer;
}

.footer_right h2 {
    padding-bottom: 32px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

/* email from */
.email {
    display: flex;
    max-width: 400px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
}

.email input {
    flex: 1;
    padding: 20px 30px;
    background-color: #161722;
    border: none;
    outline: none;
}

.email button {
    padding: 20px 40px;
    border: none;
    background-color: #FFD2A4;
    color: #1C1D28;
    cursor: pointer;
    border-radius: 8px;
}

/*email from */

/* footer part end */