* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* nav part start */
#navbar {
    background-color: #0D0D0D;
    height: 80px;
}

.nav_main {
    display: flex;
    align-items: center;
    height: 80px;
}

.logo {
    width: 20%;
}

.menu {
    width: 60%;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 0 24px;
    color: rgba(255, 255, 255, 0.901);
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
}

.btn {
    width: 20%;
}

.nav_btn {
    text-align: end;
}

.nav_btn a {
    padding: 20px 48px;
    border-radius: 12px;
    background-color: #FFD2A4;
    color: #1C1D28;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
}

/* nav part end */

/* banner part start */
#banner {
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 128px;
}

.banner_main {
    width: 592px;
}

.banner_main h2 {
    color: #fff;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
}

.banner_main h1 {
    width: 592px;
    color: #fff;
    font-family: "Roboto Condensed", serif;
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 32px;
    text-transform: uppercase;
}

.banner_main a {
    padding: 24px 64px;
    border-radius: 12px;
    background-color: #FFD2A4;
    color: #1C1D28;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
}

.banner_main p {
    color: #fff;
    padding-top: 64px;
    padding-right: 290px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    font-size: 16px;
}

/* banner part end */
/* service part start */
#service {
    padding: 128px 0;
}

.service_head {
    text-align: center;
}

.service_head h3 {
    font-size: 16px;
    padding-bottom: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-transform: uppercase;
}

.service_head h2 {
    font-size: 48px;
    padding-bottom: 64px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.service_main {
    display: flex;
    justify-content: space-between;
}

.service_item {
    width: 32%;
}

.service_iner {
    padding: 80px;
    background-color: #FFF5EB;
    border-bottom: 10px solid #FFD2A4;
}

.icon_img {
    height: 48px;
    width: 48px;
    background-color: #FFD2A4;
    border-radius: 50px;
    text-align: center;
    line-height: 48px;

}

.service_iner h2 {
    padding-top: 24px;
    padding-bottom: 8px;
    font-size: 32px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.service_iner p {
    padding-bottom: 64px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-transform: none;
}

/* service part end */

/* love part start */
#love {
    padding-bottom: 128px;
}

.love_head {
    text-align: center;
}

.love_main {
    padding-top: 100px;
}

.love_head p {
    width: 846px;
    margin: 0 auto;
}

.love_head h2 {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.love_head p {
    padding-bottom: 56px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

.love_main {
    display: flex;
    justify-content: space-between;
}

.love_left {
    width: 29%;
}

.love_one img {
    width: 100%;
}

.love_middle {
    width: 39%;
    position: relative;
}

.love_m_btn {
    /* text-align: center; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -50px;
}

.love_m_img {
    margin-top: 50px;
}

.love_m_img img {
    width: 100%;
}

.love_m_btn a {
    padding: 24px 64px;
    background-color: #FFD2A4;
    border-radius: 12px;
}

.love_right {
    width: 29%;
}

.love_r_img img {
    width: 100%;
}

.love_last {
    text-align: center;
}

.love_last h3 {
    padding-top: 56px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-transform: uppercase;
}

.love_last h2 {
    padding-bottom: 16px;
    font-size: 32px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.love_last p {
    width: 512px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

/* love part end */

/* benifit part start */
#benifit {
    padding: 128px;
    background-color: #F5F2F0;
}

.benefit_head {
    text-align: center;
}

.benefit_head h3 {
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

.benefit_head h2 {
    width: 500px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 64px;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.benefit_main {
    display: flex;
    justify-content: space-between;
}

.benefit_item {
    width: 24%;
    overflow-y: hidden;
}

.benefit_img img {
    width: 100%;
}

.benefit_iner {
    position: relative;
}

.benifit_img_tex {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 1;
    transition: 0.5s;
}

.benifit_img_tex h2 {
    color: #fff;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(6, 6, 6, 0), rgba(0, 0, 0, 0.202));
    height: 0;
    width: 100%;
    transition: 0.5s;
}

.benefit_iner:hover .overlay {
    height: 90%;

}

.overlay p {
    padding-top: 140px;
    color: #fff;
}

.benefit_iner:hover .benifit_img_tex {
    bottom: 210px;
}

/* benifit part end */

/* great part start */
#great {
    padding: 128px;
}

.great_head {
    text-align: center;
}

.great_head h3 {
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

.great_head h2 {
    width: 554px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 64px;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.great_item {
    width: 1200px;
}

.great_item {
    display: flex;
}

.grt_itm_one {
    width: 32%;
}

.grt_itm_one {
    background-color: #FFF5EB;
}

.grt_itm_one_tex {
    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 70px;
    padding-right: 80px;
}

.grt_itm_one_tex h3 {
    padding-bottom: 16px;
    padding-bottom: 16px;
    font-size: 12px;
    color: #A54E2B;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.grt_itm_one_tex h2 {
    padding-bottom: 16px;
    font-size: 24px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-transform: uppercase;
}

.grt_itm_one_tex p {
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
}

.grt_itm_one_tex p img {
    margin-right: 16px;
}

.grt_itm_one_tex p span {
    padding-left: 40px;
}

.grt_itm_one_tex a {
    padding: 20px 44px;
    background-color: black;
    color: #FFD2A4;
    border-radius: 12px;
}

.grt_itm_two {
    width: 58%;
}

/* great part end */

/* shear part start */
#SHARE {
    padding-bottom: 128px;
}

.SHARE_head h4 {
    padding-bottom: 16px;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
    font-weight: normal;
    text-align: center;
    color: #161722;
}

.SHARE_head h2 {
    padding-bottom: 64px;
    font-size: 48px;
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    text-align: center;
    color: #161722;
}

.SHARE_main {
    display: flex;
    justify-content: space-between;
}

.SHARE_item {
    width: 24%;
    background-color: #FFF5EB;
}

.SHARE_item h5 {
    padding-top: 48px;
    padding-left: 32px;
    color: #DC9853;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.SHARE_item h2 {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.SHARE_item p {
    padding-left: 32px;
    padding-bottom: 48px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
}

.SHARE_item h4 {
    padding-left: 32px;
    padding-bottom: 4px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 18px;
    font-weight: normal;
}

.SHARE_item h6 {
    padding-left: 32px;
    padding-bottom: 32px;
    color: #161722;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
}

.div {
    height: 16px;
    background-color: #FFD0A0;
}

/* shear part end */

/* footer part start */
#footer {
    background-color: #161722;
}

.footer_main {
    display: flex;
    justify-content: space-between;
}

.footer_item {
    padding-top: 64px;
    padding-bottom: 72px;
}

.footer_left h2 {
    margin-top: 16px;
    padding-bottom: 32px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h3 {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h4 {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_left h5 {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_medil_left h2 {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
.footer_medil_left a {
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}
.footer_medil_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer part end */